@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to bottom right, #f3f4f6, #e5e7eb);
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 1%;
}

#section_footer {
  width: 100%;
  background: #3b82f6;

  a,
  span {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    color: #fff;
    font-size: 0.6em;
  }
}

.dropDownProfile {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 120px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
}
